#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*_i.h
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.meta
*.log
[Bb]in
[Dd]ebug*/
[Dd]ebugPublic/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
packages/
.vs/
App_Data/
Migrations/
*.userosscache
*.sln.docstates
*.userprefs
build/
bld/
dlldata.c
wwwroot/